
*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

/* :root{
    --main-radius:5px;
    --main-padding:5px;
} */
body{

    background-color: #c2c2c2;
}
.parallax{
    box-shadow: inset 0 0 50em rgba(31, 31, 31, 0.144);
    width: 100%;
    height: 100vh;
    background: url(asset/Imagination_Forest.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.headline{
    font-family: 'Press Start 2P', cursive;
    font-size:4.6em;
    color: rgb(240, 240, 240);
    position: fixed;
    width: 100%;
    top: 15vh;
    left: 55vh;
    /* text-align: center; */
    text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.103);
}
.mask{
    mask: url(asset/mask2.png);
    mask-size: cover;
    mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask: url(asset/mask2.png);
    -webkit-mask-size: cover;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.container{

    display: grid;
    height: 100vh;
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: "nav nav nav nav"
    "sidebar main main main"
    "sidebar cards cards cards"
    "sidebar footer footer footer";
    /* grid-gap: 0.2rem; */

    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    color: rgb(24, 24, 24);
    text-align: center;

}
nav{
    /* box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.692); */
    background-color: #354732;
    grid-area: nav;
    /* border-radius: 5px; */
    /* padding: 5px; */
    color: rgb(238, 238, 238);
    /* display: flex; */
    /* justify-content: space-between; */
}
nav .navl{
    text-align: left;
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
nav .navl img{
    margin-left: 1%;
    width: 9%;
    cursor: pointer;
}

nav .navr{
    font-size: 0.5em;
    width: 50%;
    float:right;
    
}
nav .navr ul{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    list-style-type: none;
    overflow: hidden;
    /* background-color: #333333; */
}
nav ul li{
    
    float: left;
}
nav ul li a{
    
    color: rgb(238, 238, 238);
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
}
main{
    background-color: #ECE7E0;
    grid-area: main;
    border-radius: 5px;
    padding: 5px;
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    grid-gap: 0.2rem;
    grid-template-areas: "welcome daily";
}
.welcomemain{
    grid-area: welcome;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.2rem;
    grid-template-areas:
    "imgwel"
    "textwel";
}

.welcomemain .imgwelcome{
    margin: 10px;
    grid-area: imgwel;
    background: url(asset/welcom.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 50px;
}
.welcomemain .textwelcome{
    margin: 10px;
    /* float: left; */
    text-align: left;
    grid-area: textwel;
    /* background-color: #7E7255; */
}
.welcomemain .textwelcome span{
    font-size: 0.6em;
    /* margin: 5px; */

}
.dailymain{
    grid-area: daily;
    display: grid;
    /*
    display:flex;
    justify-content: center;
    align-items: center;
    */
}
.trans{
    display: block;
    margin: auto auto auto auto;
    width: 90%;
    height: 80%;
    border: 1px solid rgba(0, 0, 0, 0.13);
    box-shadow: 2px 6px 0.6em -10px rgb(0, 0, 0,1);
    border-radius: 50px;
    background-color: #5D6E57;
}

#sidebar{
    color: rgb(238, 238, 238);
    background-color: #5D6E57;
    grid-area: sidebar;
    /* border-radius: 5px; */
    padding: 5px;
}
/* #sidebar .menusidebar ul{
    display: block;
    margin: 0 auto;
    text-align: center;
    justify-self: center;
} */
#sidebar .menusidebar ul li{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align:left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#sidebar .menusidebar ul li span{
    font-weight: 200;
    margin-left: 3em;
    opacity: 85%;
    /* font-size: 0.8em */
}

.displayimg{
    /* background-color: rgba(44, 44, 44, 0.185);
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    display: grid;
    place-items: center; */
    clip-path: circle(25%);
}

.cards{
    background-color: #b3bdac;
    grid-area: cards;
    border-radius: 5px;
    padding: 5px;

    display: grid;
    height: 30vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "card1 card2 card3";
    grid-gap: 0.2rem;

    /* align-items: center; */
    justify-items: center;
    gap: 4px;
    grid-auto-flow: column;
    
}
.card1{
    background-color: #C3CDBD;
    grid-area: card1;
    width: 90%;
    border-radius: 30px;
    margin: 5px;
}
.card2{
    background-color: #C3CDBD;
    grid-area: card2;
    width: 90%;
    border-radius: 30px;
    margin: 5px;
}
.card3{
    background-color: #C3CDBD;
    grid-area: card3;
    width: 90%;
    border-radius: 30px;
    margin: 5px;
}
footer{

    color: #dce6dc;
    background-color:#7E7255;
    grid-area: footer;
    /* border-radius: 5px; */
    padding: 5px;
    font-size: 0.6em;
        display: flex;
    justify-content: center;
    align-items: center;
}
footer p{

}
footer span{
    color: #f0f0f0;
    font-size: 0.8em;
}

@media only screen and (max-width:550px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 3.6fr 1fr;
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "cards"
        "footer";
    }

    nav ul li{
        clear: both;
        display: grid;
        grid-column: 1fr;
    }
    .navl{
        clear: both;
        display: grid;
        grid-column: 1fr;
    }
    .navr{
        clear: both;
        display: grid;
        grid-column: 1fr;
    }
    

}

@media only screen and (max-width:970px){

    nav ul li{
        clear: both;
        display: grid;
        grid-column: 1fr;
    }


}

@media only screen and (max-width:395px){

    nav ul li{
        clear: both;
        display: grid;
        grid-column: 1fr;
    }
    .navl{
        clear: both;
        display: grid;
        grid-column: 1fr;
    }
    .navr{
        clear: both;
        display: grid;
        grid-column: 1fr;
    }

}

